<%= form_for [@product, @rating] do |f| %>

  <p>Add your opinion:</p>

  <%= f.label :rating %>:<br>
  <strong><span>1</span>
  <%= f.radio_button(:rating, 1)%>
  <%= f.radio_button(:rating, 2)%>
  <%= f.radio_button(:rating, 3)%>
  <%= f.radio_button(:rating, 4)%>
  <%= f.radio_button(:rating, 5)%>
  <span>5</span><br></strong>

  <%= f.label :description %>:<br>
  <%= f.text_area :description, class: "input-xlarge" %><br>

  <%= f.submit('add review') %>

<% end %>